/* Button Styles */
.more-info-button {
    color: black !important;
}

.button {
    background-color: #d4af37;
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 5px;
    transition: all 0.5s;
    width: 230px;
}

.button-green {
    background-color: rgb(34, 197, 94);
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 5px;
    transition: all 0.5s;
    width: 230px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Text Container Styles */
.text-container {
    margin-top: 18%;
    padding: 50px;
}

.text-container h1 {
    font-weight: bold;
    margin-bottom: 3%;
}

/* Image Container Styles */
.image-container {
    width: 650px;
}

.Image {
    /* margin-left: 50px; */
}

.image-container img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: auto;
}

/* Contact Section Styles */
.contactall {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact-body {
    align-items: center;
    display: grid;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
}

.contact-in {
    background: #ae2029;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 10px #666;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 80%;
}

.contact-map {
    flex: 50%;
    height: auto;
    width: 100%;
}

.contact-map iframe {
    height: 100%;
    width: 100%;
}

.contact-form {
    flex: 50%;
    height: auto;
    padding: 50px;
    text-align: center;
    width: 100%;
}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form-txt,
.contact-form-txtarea {
    border: 1px solid #bcbcbc;
    color: #000;
    margin-bottom: 20px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.contact-form-txt {
    border-radius: 50px;
    height: 40px;
}

.contact-form-txt::placeholder,
.contact-form-txtarea::placeholder {
    color: #aaa;
}

.contact-form-txtarea {
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    height: 130px;
}

.contact-form-btn {
    background: #d4af37;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #about {
        flex-direction: column;
        align-items: center;
    }

    #about .image-container,
    #about .text-container {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #about .image-container img {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .button {
        width: 100%;
    }

    .text-container {
        margin-top: 0;
    }

    #contact {
        padding-top: 50px;
    }

    .contact-body {
        height: auto;
    }

    .contact-map iframe {
        height: 300px;
    }

    .contact-form {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    #about .image-container img {
        width: 100%;
    }

    .button {
        font-size: 18px;
        padding: 10px;
    }

    #contact {
        padding-top: 50px;
    }

    .contact-body {
        height: auto;
    }

    .contact-map iframe {
        height: 300px;
    }

    .contact-form {
        padding: 20px;
    }
}


/* Box-icon Styles */
.box-icon {
    color: #ffffff; /* Change icon color to white */
}
