.more-info-button {
    color: black !important;
}

.text-container {
    margin-top: 18%;
    padding: 50px;
}

.image-container {
    width: 650px;
}

.Image {
    margin-left: 50px;
}

.image-container img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: auto;
}

.text-container h1 {
    font-weight: bold;
    margin-bottom: 3%;
}

.button {
    background-color: #d4af37;
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 5px;
    transition: all 0.5s;
    width: 230px;
}

.button-green {
    background-color: rgb(34, 197, 94);
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 5px;
    transition: all 0.5s;
    width: 230px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.contactall {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.contact-body {
    align-items: center;
    display: grid;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin-top: 50px;
    width: 100%;
}

.contact-in {
    background: #ae2029;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 10px #666;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    padding: 10px;
    width: 80%;
}

.contact-map {
    flex: 50%;
    height: auto;
    width: 100%;
}

.contact-map iframe {
    height: 100%;
    width: 100%;
}

.contact-form {
    flex: 50%;
    height: auto;
    padding: 50px;
    text-align: center;
    width: 100%;
}

.contact-form h1 {
    margin-bottom: 10px;    
}

.contact-form-txt,
.contact-form-txtarea {
    border: 1px solid #bcbcbc;
    color: #000;
    margin-bottom: 20px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.contact-form-txt {
    border-radius: 50px;
    height: 40px;
}

.contact-form-txt::placeholder,
.contact-form-txtarea::placeholder {
    color: #aaa;
}

.contact-form-txtarea {
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    height: 130px;
}

.contact-form-btn {
    background: #d4af37;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
}